p img {
  width: 100%;
  height: auto;
}

@media  (min-width: 400px) and (max-width:750px) {
  .answer_css {
    position: fixed !important;
    margin-top: 75%;
    height: 40%;
  }
}

@media (min-width: 800px) {
  .answer_css {
    height: 600px;
    position: inherit;
    margin-top: 0;
  }
}
